body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}


.main_inpo {
    padding: 96px 0;
}

.main_inpo .title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_inpo .title h2 {
    font-size: 40px;
    font-weight: 800;

    text-align: center;
}

.main_inpo .title p {
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    margin-top: 16px;
}

.main_inpo .inner {
    display: flex;
    margin: 0 auto;
    gap: 24px;
    padding: 40px 0;
    max-width: 1440px;
}

.main_inpo .txt_box p {
    font-size: 16px;
    font-weight: 400;

    margin-top: 16px;
}

.main_inpo .txt_box strong {
    display: block;
    font-size: 16px;
    font-weight: 600;

    margin-top: 8px;
}